.category-slider {
  /* margin-top:-30px; */
  width: calc(100% - 0px);
  position: relative;
  /* margin-top: -90px; */
  z-index: 1;
  overflow: hidden;
}

img,
.img {
  width: 200px;
  height: 120px;
  margin: 0 2px;
  display: inline-block;
  position: inherit;
  border: 1px solid #111;
  cursor: pointer;
}

img {
  will-change: transform;
}

.img:hover {
  transform: scale3d(1.5, 1.5, 1.5);
  transform-origin: center center;
  z-index: 1;
  transition: all .25s ease;
}

.img:hover+.img {
  z-index: -1;
  /* will-change: auto; */
}

.img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100.5%;
  height: 105.5%;
  transition: all .35s ease;
  background: rgb(0, 0, 0, .0);
  z-index: 1;
}

.img:hover::before {
  background: rgb(0, 0, 0, .55);
}

.img .play-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .35s ease;
  opacity: 0;
  width: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
}

.play-btn:hover {
  background: rgba(170, 170, 170, 0.233);
}

.btn:active {
  transform: translate(-50%, -50%) scale3d(0.9, 0.9, 0.9) !important;
}

.img:hover .play-btn {
  opacity: 1
}

img:first-child {
  margin-left: 0;
}

img:last-child {
  margin-right: 0;
}

img:last-child:hover {
  margin-right: 0;
  transform-origin: right right;
}

.category:first-child {
  margin-top: 0;
}

.category:last-child {
  margin-bottom: 0;
}

.slider {
  padding: 30px 0;
  padding-left: 48px;
  padding-right: 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
}

.category-slider *::-webkit-scrollbar {
  height: 7px;
}

.category-slider *::-webkit-scrollbar-thumb {
  border: none;
  background: transparent;
  position: relative;
}

.category-slider *:hover::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border: none;
}

.category p {
  margin: 0 55px;
  position: absolute;
}

.watched {
  position: absolute;
  height: 2px;
  bottom: -3px;
  z-index: 1;
  background: rgb(199, 22, 22);
}

@media only screen and (max-width:600px) {
  .category p {
    margin: 0 30px;
  }
}

@media only screen and (max-width:414px) {
  .category p {
    margin: 0 20px;
  }
}
