<div id="img-slider">
    <div class="slide">
        <img src="{{category?.thumbnail}}" (load)="print()" />
        <div class="overlay"></div>
        <div class="movie-details column container">
            <div class="row imotion-logo-tag">
                <p class="logo">I</p>
                <span *ngIf="category?.category === 'tvshows'">SERIES</span>
                <span *ngIf="category?.category === 'movies'">MOVIES</span>
                <div class="rating">80+</div>
            </div>
            <h1>{{category?.title}}</h1>
            <p class="movie-tag label">{{category?.tag.join(' &sdot; ')}}</p>
            <div class="row action-button">
                <a *ngIf="category?._id" class="btn btn-md btn-fade" [routerLink]="['/watch', category?._id]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Play</a>
                <button *ngIf="category && !inList" class="btn btn-md btn-fade" (click)="listToggle()">Add to My
                    List</button>
                <button *ngIf="category && !!inList" class="btn btn-md btn-block" (click)="listToggle()">Added</button>
            </div>
            <p class="label">Hollywood</p>
            <p class="description">{{category?.plot}}</p>
            <p class="description h6"><span class="label">Directors & Writers</span> - {{category?.creators.join(', ')}}
            </p>
        </div>
        <div class="play-trailer column">
            <button class="btn">play</button>
            <p>WATCH TRAILER</p>
        </div>
        <div class="age-restriction-tag">
            PG-13
        </div>
    </div>
</div>